<app-toolbar (numberOfDaysToShow)="setSelectedDays($event)"
             (cantonToShow)="setSelectedCanton($event)"
             (calendarType)="setCalendarType($event)"
             (selectedDay)="setSelectedDay($event)" />

<div class="calendar-days-container"
     [ngClass]="{'year':calendarType === allCalendarTypes.year}">
    @if(calendarType !== allCalendarTypes.year){
    <div class="title-bar">
        @if (calendarType === allCalendarTypes.day) {
        <h4 class="single">
            {{daysOfTheWeekNames[getWeekDay()]}}
        </h4>
        }@else {

        @for(day of daysOfTheWeekNames; track day){
        <h4>{{ day}}</h4>
        }
        }
    </div>
    <div class="calendar-body">

        @for (day of selectedDays; track day.day) {

        <app-calendar-day [ngClass]="{'single': calendarType === allCalendarTypes.day, 'week': calendarType === allCalendarTypes.week}"
                          [dayToShow]="day"
                          [selectedDay]="selectedDay"
                          [calendarType]="calendarType"
                          [selectedCanton]="selectedCanton"
                          [month]="day.month" />
        }
    </div>
    } @else {
    @for(month of monthsInYear; track month; let monthIndex = $index){
    <div class="month-block">
        <h4>{{monthNames[monthIndex]}}</h4>
        <div class="week-bar">
            @for(day of daysOfTheWeekNames; track day){
            <h5>{{ day}}</h5>
            }
        </div>
        <div class="calendar-body">
            @for(day of month; track day){
            <app-calendar-day [dayToShow]="day"
                              [selectedDay]="selectedDay"
                              [calendarType]="calendarType"
                              [selectedCanton]="selectedCanton"
                              [month]="monthIndex + 1" />
            }
        </div>
    </div>
    }
    }
</div>
